body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* app.jsx */

.main {
    text-align: center;
}

.todoBody {
    margin: 20px auto 20px auto;
    width: 500px;
    min-height: 600px;
    border: 5px solid black;
    padding: 20px;
}

/* Header */

h1, h2 {
    color: red;
}

/* todoItem */

.todoRow {
    border-bottom: 1px solid gray;
    text-align: left;
    margin-bottom: 10px;
}
.removeBtn {
    width: 100px;
    margin: 20px;
    padding: 5px;
    border-width: 2px;
    border-radius: 35px;
    border-style: solid;
    color: red;
    border-color: red;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.editBtn {
    width: 100px;
    margin: 20px;
    padding: 5px;
    border-width: 2px;
    border-radius: 35px;
    border-style: solid;
    color: green;
    border-color: green;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

/* todoInput */


.submitBtn {
    width: 75px;
    margin-left: 20px;
    border-width: 2px;
    border-radius: 35px;
    border-style: solid;
    padding: 5px;
    color: black;
    border-color: black;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

input {
    width: 70%;
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-right: 10px;
    padding: 5px;
    line-height: 17px;
}

input:focus {
    outline: none;
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}